<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>792459781412-78tkqbahd640enrlehvqciq7e2gbklim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792459781412-78tkqbahd640enrlehvqciq7e2gbklim</string>
	<key>API_KEY</key>
	<string>AIzaSyBYLAC_L8QqaeSsEYUGVmGx1CPLaCZ1hZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>792459781412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JordanLinesios</string>
	<key>PROJECT_ID</key>
	<string>jordan-lines</string>
	<key>STORAGE_BUCKET</key>
	<string>jordan-lines.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792459781412:ios:077268171f5729ba</string>
	<key>DATABASE_URL</key>
	<string>https://jordan-lines.firebaseio.com</string>
</dict>
</plist>